.post {
    margin-top: 8px;
}
.post .panel-title {
    font-size: 2em;
}
.post .panel-body {
    padding-top: 4px;
    
}
.post p {
    margin-top: 5px;
    font-size: 16px;
}

.post .metadata, .comment .metadata {
    border-bottom: 1px solid gray;
    font-size: 12px;
}


h2.comments-header {
    padding-left: 0px !important;
    margin-left: 0px !important;
}

.location .breadcrumb{
    margin-bottom: 0px;
}

#showcreatepostcontainer, #showcreateboardcontainer {
    margin-top: 8px
}

#showcreatecommentcontainer {
    margin-bottom: 10px;
}

.forum-header a {
    color: inherit;
    text-decoration: none;
}

.container {
    padding-bottom: 15px;
}