<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title th:text="${board.name}"></title>
        <link rel="stylesheet" href="/static/css/bootstrap.css" />
        <link rel="stylesheet" href="/static/css/hutukiren.css" />
    </head>
    
    
    <body>
        <div class="container">
            <h1 class="text-center forum-header"><a href="/">HutuKiren Tikape-Foorumi</a></h1>
            <div class="row">
                <h2 th:text="${board.name}">Aluenimi</h2>
            </div>
            <div class="row">
                <div class="location">
                    <ol class="breadcrumb">
                        <li><a href="/">#</a></li>
                        <li class="active"><span th:text="${board.name}"></span></li>
                    </ol>
                </div>
            </div>
            <div id="showcreatepostcontainer" class="row">
                <button  class="btn btn-default" onclick="showAddPost()">Lisää postaus</button>
            </div>
            <div id="addpostdiv" class="hidden">
                <div class="row">
                    <h2>Lisää Postaus aihealueeseen <span th:text="${board.name}"></span></h2>
                </div>
                <div class="row">
                    <div class="well">
                        <form th:action="@{~/board/{boardId}/post(boardId=${board.id})}" th:object="${boardInfo}" method="post">
                            <div class="form-group">
                                <label for="title">Otsikko</label>
                                <input id="title" name="title" type="text" class="form-control"  placeholder="Anna postauksellesi otsikko" />
                                <label for="content">Sisältö</label>
                                <textarea id="content" name="content"  class="form-control" rows="10"></textarea>
                                <label for="author">Nimimerkki</label>
                                <input id="author" name="author" type="text" class="form-control" placeholder="nimimerkkisi"/>
                            </div>
                            <button type="submit" class="btn btn-default">Lisää</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><span>Alue: </span> <span th:text="${board.name}"></span></th>
                            <th>Viestejä</th>
                            <th>Viimeisin viesti</th>
                            <th>Luotu</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="post: ${posts}">
                            <td>
                                <a th:href="${'/board/' + board.id + '/post/' + post.id}" th:text="${post.title}"></a>
                            </td>
                            <td>
                                <span th:text="${post.commentAmount}"></span>
                            </td>
                            <td>
                                <span th:text="${post.getFormattedLatestCommentDate()}"></span>
                            </td>
                            <td>
                                <span th:text="${post.getFormattedDateCreated()}"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <a th:if="${offset > 0}" th:href="@{~/board/{boardId}?offset={prevOffset}(boardId=${board.id}, prevOffset=${offset - 1})}">Uudemmat postaukset</a>
                <a th:if="${posts.size() >= 10}" th:href="@{~/board/{boardId}?offset={nextOffset}(boardId=${board.id}, nextOffset=${offset + 1})}">Vanhemmat postaukset</a>
            </div>
        </div>
        <!-- Add jQuery for bootstrap -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Add Bootstrap -->
        <script src="/static/js/bootstrap.js"></script>
        <!-- Add Javascript for creating post -->
        <script>
            function showAddPost(){
                //Show the post creating interface
                var addPostDiv = document.getElementById("addpostdiv");
                addPostDiv.className = "";
                //Hide the button
                var buttonContainer = document.getElementById("showcreatepostcontainer");
                buttonContainer.className = "hidden";
            }
        </script>
    </body>
    
    
</html>