<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>HutuKiren Tikape Foorumi</title>
        <link rel="stylesheet" href="/static/css/bootstrap.css" />
        <link rel="stylesheet" href="/static/css/hutukiren.css" />
    </head>
    
    
    <body>
        <div class="container">
            <h1 class="text-center forum-header"><a href="/">HutuKiren Tikape-Foorumi</a></h1>
            <div class="row">
                <h2>Keskustelualueet</h2>
            </div>
            <div class="row">
                <div class="location">
                    <ol class="breadcrumb">
                        <li class="active">#</li>
                    </ol>
                </div>
            </div>
            <div id="showcreateboardcontainer" class="row">
                <button  class="btn btn-default" onclick="showAddBoard()">Lisää Keskustelualue</button>
            </div>

            <div id="addboarddiv" class="hidden">
                <div class="row">
                    <h2>Lisää Keskustelualue</h2>
                </div>
                <div class="row">
                    <div class="well">
                        <form th:action="@{~/board}" th:object="${boardInfo}" method="post">
                            <div class="form-group">
                                <label for="name">Keskustelualueen nimi</label>
                                <input id="name" name="name" type="text" class="form-control"  placeholder="Anna uudelle keskustelualueelle nimi" />
                            </div>
                            <button type="submit" class="btn btn-default">Lisää</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Alue </th>
                            <th>Viestejä yhteensä </th>
                            <th>Viimeisin viesti </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="board: ${boards}">
                            <td>
                                <a th:href="${'/board/' + board.id}" th:text="${board.name}"></a>
                            </td>
                            <td>
                                <span th:text="${board.commentAmount}"></span>
                            </td>
                            <td>
                                <span th:text="${board.getFormattedLastCommentDate()}"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Add jQuery for bootstrap -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Add Bootstrap -->
        <script src="/static/js/bootstrap.js"></script>
        <!-- Add Javascript for creating board -->
        <script>
            function showAddBoard(){
                //Show the post creating interface
                var addBoardDiv = document.getElementById("addboarddiv");
                addBoardDiv.className = "";
                //Hide the button
                var buttonContainer = document.getElementById("showcreateboardcontainer");
                buttonContainer.className = "hidden";
            }
        </script>
    </body>
    
    
</html>