<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>HutuKiren Tikape Foorumi</title>
        <link rel="stylesheet" href="/static/css/bootstrap.css" />
        <link rel="stylesheet" href="/static/css/hutukiren.css" />
    </head>
    
    
    <body>
        <div class="container">
            <div class="row">
                <h1 class="text-center forum-header"><a href="/">HutuKiren Tikape-Foorumi</a></h1>
                <div class="location">
                    <ol class="breadcrumb">
                        <li><a href="/">#</a></li>
                        <li>
                            <a th:href="${'/board/' + board.id}">
                                <span th:text="${board.name}"></span>
                            </a>
                        </li>
                        <li class="active"><span th:text="${post.title}"></span></li>
                    </ol>
                </div>
                <div class="panel panel-default post">
                    <div class="panel-heading">
                        <h2 class="panel-title" th:text="${post.title}">Post title</h2>
                    </div>
                    <div class="panel-body">
                        <div class="metadata">
                            <strong>
                                <span th:text="${post.author}"></span> | 
                                <span th:text="${post.getFormattedDateCreated()}"></span>
                            </strong>
                        </div>
                        
                        <p th:text="${post.content}"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <h2 class="comments-header">Kommentit</h2>
            </div>

            <div id="showcreatecommentcontainer" class="row">
                <button  class="btn btn-default" onclick="showAddComment()">Lisää Kommentti</button>
            </div>

            <div id="addcommentdiv" class="hidden">
                <div class="row">
                    <h2>Lisää kommentti</h2>
                </div>
                <div class="row">
                    <div class="well">
                        <form th:action="@{~/board/{boardId}/post/{postId}/comment(boardId=${board.id},postId=${post.id})}" th:object="${commentInfo}" method="post">
                            <div class="form-group">
                                <label for="content">Sisältö</label>
                                <textarea id="content" name="content"  class="form-control" rows="3"></textarea>
                                <label for="author">Nimimerkki</label>
                                <input id="author" name="author" type="text" class="form-control" placeholder="nimimerkkisi"/>
                            </div>
                            <button type="submit" class="btn btn-default">Lisää</button>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="row" th:each="comment : ${comments}">
                <div class="well well-sm comment">
                    <div class="metadata">
                        <strong>
                            <span th:text="${comment.author}"></span> | 
                            <span th:text="${comment.getFormattedDateCreated()}"></span>
                        </strong>
                    </div>
                    <p th:text="${comment.content}"></p>
                </div>
            </div>

            <div class="row">
                <a th:if="${offset > 0}" th:href="@{~/board/{boardId}/post/{postId}?offset={prevOffset}(boardId=${board.id},postId=${post.id},prevOffset=${offset - 1})}">Uudemmat kommentit</a>
                <a th:if="${comments.size() >= 20}" th:href="@{~/board/{boardId}/post/{postId}?offset={nextOffset}(boardId=${board.id},postId=${post.id},nextOffset=${offset + 1})}">Vanhemmat kommentit</a>
            </div>
        </div>
        <!-- Add jQuery for bootstrap -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Add Bootstrap -->
        <script src="/static/js/bootstrap.js"></script>
        <!-- Add Javascript for creating comment -->
        <script>
            function showAddComment(){
                //Show the post creating interface
                var addCommentDiv = document.getElementById("addcommentdiv");
                addCommentDiv.className = "";
                //Hide the button
                var buttonContainer = document.getElementById("showcreatecommentcontainer");
                buttonContainer.className = "hidden";
            }
        </script>
    </body>
    
    
</html>